<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plants Locale</title>
  </head>
  <body ng-app="plantsApp">
      <div id="message" ng-controller="plantCtrl">
        <input type="text" ng-model="state" name="" value="" placeholder="State">
        <input type="text" ng-model="county" name="" value="" placeholder="County">
        <button type="button" ng-click="submitInput(state, county)" name="button">Submit</button>
        <pre ng-repeat="item in data">
          <h1>{{item.sciname}}</h1>
          <h2>{{item.comname}}</h2>
          <h3>{{item.county}}</h3>
        </pre>
      </div>



      <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
      <script>
      var config = {
      apiKey: "AIzaSyD8Png2V7QLM3XeJ3EpsqNIBfR6pl873aU",
      authDomain: "plantslocale.firebaseapp.com",
      databaseURL: "https://plantslocale.firebaseio.com",
      projectId: "plantslocale",
      storageBucket: "plantslocale.appspot.com",
      messagingSenderId: "530012644507"
      };
      firebase.initializeApp(config);
      </script>
  </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/plantCtrl.js"></script>
    <script src="./js/plantServ.js"></script>
  </body>
</html>
