
<div class="text-center logoposi">
  <img src="https://firebasestorage.googleapis.com/v0/b/plantslocale.appspot.com/o/mapicon.svg?alt=media&token=5a9c66a8-2964-4ae9-a868-ef5b83a576f7" class="main-logo">
</div>

<div class="row">
  <div class="col-12 text-center">
    <h1><b>Plants Locale</b></h1>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <h4>Find Plants Near You</h4>
  </div>
</div>


<div class="row">
  <div class="col-12 text-center learnmore">
    <h3>Learn More</h3>
    <div class="text-center">
      <img src="https://firebasestorage.googleapis.com/v0/b/plantslocale.appspot.com/o/ic_expand_more_black_24px.svg?alt=media&token=5f809194-dce1-44f7-a9d6-5e67ac0b213f" alt="">
    </div>
  </div>
</div>
