
<div class="text-center logoposi">
  <img src="https://firebasestorage.googleapis.com/v0/b/plantslocale.appspot.com/o/mapicon.svg?alt=media&token=5a9c66a8-2964-4ae9-a868-ef5b83a576f7" class="main-logo">
</div>

<div class="row">
  <div class="col-12 text-center">
    <h1><b>Plants Locale</b></h1>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <h4>Find Plants Near You</h4>
  </div>
</div>


<div class="row">
  <!-- <div class="col-6 text-center learnmore">
    <a ui-sref="search">
    <button class="btn btn-large green" type="button" name="button">Get to Searching</button>
  </a>
  </div> -->
  <div class="col-12 text-center learnmore">
    <button class="btn btn-large green" type="button" name="button" data-toggle="modal" data-target="#loginModal" >Login to Save Your Watchlists</button>
  </div>


  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <!--Content-->
          <div class="modal-content">
              <div class="modal-body">
                  <div id="firebaseui-auth-container" id="loginTemplate"></div>
              </div>
          </div>
      </div>
  </div
</div>
