


<!-- <div class="container">
  <input ng-model="email" "txtEmail" type="email" id="txtEmail" placeholder="email">
  <input ng-model="password" id="txtPassword" type="email" id="txtPassword" placeholder="Password">
  <button ng-model="btnLogin" id="btnLogin" class="btn btn-action"> Log In </button>
  <button ng-model="btnSignUp" id="btnSignup" class="btn btn-secondary"> Sign Up </button>
  <button ng-model="btnSignOut" id="btnLogOut" class="btn btn-action hide"> Sign Out </button>
</div> -->



<div id="firebaseui-auth-container"></div>
