<div class="container">

  <div class="row">
    <div class="text-center mx-auto pullWatchlistButton">
      <button type="button" class="btn green waves-effect" ng-click="pullWatchlist()">Pull Watchlist</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <div ng-repeat="(key, watchlist) in watchList" class="col-xs-6 col-md-6 col-lg-4">
          <button type="button" class="btn green" ng-click="showCard(watchlist)" ng-hide="loading">{{watchlist.$id}}</button>
        </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="text-center" ng-show="loading">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row watchlistPadding">
    <div class="listresults overflow-text" data-toggle="modal" data-target="#watchListInfoModal">
        <ul class="card cardstyle list-group hoverable smoothscroll" ng-repeat="obj in selected" ng-click="pullData(obj); flickrData(obj);">
          <a data-scroll><li ng-model="wlSciName" class="list-group-item">{{obj.sciname}}</li> </a>
          <a data-scroll><li ng-model="wlComName" class="list-group-item">{{obj.comname}}</li> </a>
          <a data-scroll><li ng-model="wlCounty" class="list-group-item">{{obj.county}}</li> </a>
        </ul>
      </div>

      <div class="modal fade" id="watchListInfoModal" tabindex="-1" role="dialog" aria-labelledby="watchListInfoModal" aria-hidden="true">
          <div class="modal-dialog modal-full-height modal-bottom" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="watchListInfoModal">{{obj.comname}}</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-lg-4 col-xs-12 mx-auto">
                        <div class="text-center">
                            <img ng-src="{{flickrSrc}}" id="myLightBox">
                        </div>
                      </div>
                      <div class="col-lg-8 col-xs-12" class="overflow-text">
                        <p>{{wiki[0]}}</p>
                      </div>
                  </div>
                </div>
                  <div class="modal-footer">
                      <button type="button" class="btn red" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-success" id="addedButton" ng-click="removeFromData(wlComName,wlSciName,wlCounty)">Remove from Watchlist</button>
                  </div>
              </div>
          </div>
      </div>


  </div>
</div>
