<div class="container">

  <div class="row">
    <div class="text-center mx-auto pullWatchlistButton">
      <button type="button" class="btn btn-outline-primary waves-effect" ng-click="pullWatchlist()">Pull Watchlist</button>
    </div>
  </div>
  <div class="row">
        <div ng-repeat="(key, watchlist) in watchList">
          <button type="button" class="btn btn-primary" ng-click="showCard(watchlist)" ng-hide="loading">{{watchlist.$id}}</button>
        </div>
  </div>

  <div class="row">
    <div class="loader col-12" id="loadingIcon">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      </svg>
    </div>
    <div class="listresults overflow-text" data-toggle="modal" data-target="#watchListInfoModal">
        <ul class="card cardstyle list-group hoverable smoothscroll" ng-repeat="obj in selected" ng-click="pullData(obj); flickrData(obj);">
          <li ng-model="wlSciName" class="list-group-item">{{obj.sciname}}</li>
          <li ng-model="wlComName" class="list-group-item">{{obj.comname}}</li>
          <li ng-model="wlCounty" class="list-group-item">{{obj.county}}</li>
        </ul>
      </div>

      <div class="modal fade" id="watchListInfoModal" tabindex="-1" role="dialog" aria-labelledby="watchListInfoModal" aria-hidden="true">
          <div class="modal-dialog modal-full-height modal-bottom" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="watchListInfoModal">{{obj.comname}}</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-lg-4 col-xs-12 mx-auto">
                        <div class="text-center">                        
                            <img ng-src="{{flickrSrc}}" id="myLightBox">
                        </div>
                      </div>
                      <div class="col-lg-8 col-xs-12" class="overflow-text">
                        <p>{{wiki[0]}}</p>
                      </div>
                  </div>
                </div>
                  <div class="modal-footer">
                      <button type="button" class="btn red" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-success" id="addedButton" ng-click="removeFromData(wlComName,wlSciName,wlCounty)">Remove from Watchlist</button>
                  </div>
              </div>
          </div>
      </div>


  </div>
</div>
