body
  margin: 0
  padding: 0
  background-image: url("https://static.pexels.com/photos/129105/pexels-photo-129105.jpeg")
  background-size: cover

.moreInfoText
  font-size: 1em

.modal-full-height
  max-width: 80vh

input
  &[type="text"]:focus:not([readonly])
    border-bottom: 1.1px solid white
    box-shadow: 0 1px 0 0 white
  border-bottom: 1.1px solid white
  color: white

label
  color: white
  &:after
    content: ": "

.maxHeightModal
  max-height: 25vh

.formstyle
  margin-top: 5vh

.w80
  margin: 0 10vh

.img-height
  height: 100%

.listresults
  height: 70vh

.infoheight
  height: 50vh
  overflow: scroll

.searchforms
  margin-top: 8vh

.cardstyle
  margin-bottom: 1vh
  opacity: 0.9

a
  color: black
  &:visited
    color: black
  &:hover
    text-decoration: none
    color: black

.learnmore
  margin-top: 13vh

.watchlistcard
  margin-top: 20vh

.overflow-text
  overflow: scroll

\::-webkit-scrollbar
  width: 0px
  background: transparent

.zindex10
  z-index: 100

.main-logo
  max-width: 40vh
  max-height: 40vh

.w100
  width: 100%

.logoposi
  padding: 10vh 10vh 5vh 10vh

.imgdimensions
  max-height: 30vh
  width: 100%

.info-card-height
  max-height: 50vh
